# Energy Transitions Python Tutorial

Using Python, create a plot of primary energy consumption over time from 1635 to 2017.

## Import libraries

There are certain libraries that you're going to need to complete this assignment. I'm going to be giving brief, big-picture summaries.

### pandas

*pandas* is a library that lets you use conduct analyses on dataframes (instead of just regular vectors/arrays in python). 

The "as pd" in the next line means from this point onward, when we want to call a function in the pandas library, we can just use "pd" for short.

In [1]:
import pandas as pd

In [ ]:
# import pandas as pd
# import numpy as np
# import matplotlib
# import matplotlib.pyplot as plt
# import seaborn as sns; sns.set()

## Read in CSV file as a dataframe

Reading in CSV files is easy thanks to pandas' ``read_csv`` function, which imports CSV files as dataframes.

Our CSV file is kept in a subfolder named "data", so we have to reference that folder when calling on the CSV file.

If you take a look at the CSV file, you'll notice that the first row contains a URL, and the second row is a summary of the data table. We can tell ``read_csv`` to skip the first two rows, so that the function will start creating a dataframe from the third row and onward.

You can give your dataframe any name you would like (as long it doesn't contain any spaces, periods, or special characters (except for an underscore). I'm going to name the dataframe ``df_data``.

In [4]:
df_data = pd.read_csv('data/Primary Energy Consumption_from 1635.csv', skiprows = 2)

Now that you have a dataframe, you can view the first 5 rows using the ``head()`` function.

In [5]:
df_data.head()

,Unnamed: 0,Coal,Natural Gas,Petroleum,Total Fossil,Nuclear,Hydropower,Wood/biomass,Solar,Wind,Total Renewable Energy
0,1635,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.000
1,1645,NaN,NaN,NaN,0.0,NaN,NaN,0.001,NaN,NaN,0.001
2,1655,NaN,NaN,NaN,0.0,NaN,NaN,0.002,NaN,NaN,0.002
3,1665,NaN,NaN,NaN,0.0,NaN,NaN,0.005,NaN,NaN,0.005
4,1675,NaN,NaN,NaN,0.0,NaN,NaN,0.007,NaN,NaN,0.007

To gain general information on the dataframe, use ``info()``.

In [6]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 11 columns):
Unnamed: 0                112 non-null int64
Coal                      91 non-null float64
Natural Gas               83 non-null float64
Petroleum                 88 non-null float64
Total Fossil              112 non-null float64
Nuclear                   62 non-null float64
Hydropower                82 non-null float64
Wood/biomass              111 non-null float64
Solar                     35 non-null float64
Wind                      36 non-null float64
Total Renewable Energy    112 non-null float64
dtypes: float64(10), int64(1)
memory usage: 9.7 KB

From the information above, we can see there are 112 rows (entries), and each column is a fuel type. The first column, which should be the year, is missing a column name (since the cell is empty in the CSV file). We can rename the column in the dataframe, without having to edit the CSV file.

### Rename column

To rename a column, use the ``rename`` function, and specify that we're trying to rename columns. If the column you want to rename already has an existing name, you can specify the original column name. However, in our case, the column itself is *unnamed*. Thus, we're going to use a number index to specify the column. In Python, the index number starts at **zero** (instead of 1). So, the first column in the CSV file corresponds to the 0 indexed column. We can specify that column index and choose to rename it to "Year".

In [7]:
df_data = df_data.rename(columns = { df_data.columns[0]: "Year" })

Let's take a look at the head of the dataframe again:

In [8]:
df_data.head()

,Year,Coal,Natural Gas,Petroleum,Total Fossil,Nuclear,Hydropower,Wood/biomass,Solar,Wind,Total Renewable Energy
0,1635,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.000
1,1645,NaN,NaN,NaN,0.0,NaN,NaN,0.001,NaN,NaN,0.001
2,1655,NaN,NaN,NaN,0.0,NaN,NaN,0.002,NaN,NaN,0.002
3,1665,NaN,NaN,NaN,0.0,NaN,NaN,0.005,NaN,NaN,0.005
4,1675,NaN,NaN,NaN,0.0,NaN,NaN,0.007,NaN,NaN,0.007

## Fill NAs

We can see from the dataframe that there are a lot of empty values, especially in the earlier years. Pandas has converted the empty cells in the CSV to NaN (null) values.

For our plot, we need to replace the NA values. In our case, we're going to replace all incidences of NaN with zero (0). While this assumption is okay for this analysis, please note that it's not always technically correct to simply replace NaNs with zeroes. Use the ``fillna`` function, in which you can specify what the replacement value you want is.

### Fill NAs for specific column

### Fill NAs for entire dataframe

In [ ]:
df_data = df_data.fillna(0)

## Create new column for sum of non-hydro renewables

In [ ]:
df_data['Other Renewables'] = df_data['Solar'] + df_data['Wind']

## Transform data

When plotting a time series of categorical data, it's often easiest to have your data in a "long" format instead of a "wide" format (like above). So, this next step will transform your data so that all the values for the different fuel types will be put into a single column. Another column labeled "Fuel" will specify the type of fuel.

In [ ]:
df_long = pd.melt(df_data, 
                  id_vars = 'Year', 
                  value_vars = ['Coal', 'Natural Gas', 'Petroleum', 
                                'Nuclear', 'Hydropower', 
                                'Wood/biomass', 'Solar', 'Wind', 
                                'Other Renewables', 'Total Fossil', 'Total Renewable Energy'], 
                  var_name = 'Fuel', value_name = 'Value')

In [ ]:
df_long.head()

## Remove totals

In [ ]:
df_fuels = df_long[~df_long.Fuel.isin(['Total Fossil', 'Total Renewable Energy', 'Solar', 'Wind'])]

## Plot data

### Preliminary plot

In [ ]:
ax = sns.lineplot(data = df_fuels, x = "Year", y = "Value", hue = "Fuel")

In [ ]:
matplotlib.style.use('ggplot')

### Specify fuel type colors

In [ ]:
ax = sns.lineplot(data = df_fuels, x = "Year", y = "Value", hue = "Fuel",
                  palette = {"Petroleum": "orange",
                             "Natural Gas": "red",
                             "Coal": "black",
                             "Nuclear": "green",
                             "Hydropower": "darkblue",
                             "Wood/biomass": "brown",
                             "Other Renewables": "skyblue"});

### Change axes

In [ ]:
ax = sns.lineplot(data = df_fuels, x = "Year", y = "Value", hue = "Fuel",
                  palette = {"Petroleum": "orange",
                             "Natural Gas": "red",
                             "Coal": "black",
                             "Nuclear": "green",
                             "Hydropower": "darkblue",
                             "Wood/biomass": "brown",
                             "Other Renewables": "skyblue"});
ax.set_title('US Primary Energy Consumption by Source (1635 – 2017)', fontsize = 18);
ax.set_xlabel('Year', fontsize = 15);
ax.set_ylabel('Quadrillion Btu', fontsize = 15);
ax.set_xlim([1635,2017]);
ax.set_ylim([0,45]);

In [ ]:
ax = sns.lineplot(data = df_fuels, x = "Year", y = "Value", hue = "Fuel",
                  palette = {"Petroleum": "orange",
                             "Natural Gas": "red",
                             "Coal": "black",
                             "Nuclear": "green",
                             "Hydropower": "darkblue",
                             "Wood/biomass": "brown",
                             "Other Renewables": "skyblue"})
ax.set_title('US Primary Energy Consumption by Source (1635 – 2017)', fontsize = 18);
ax.set_xlabel('Year', fontsize = 15);
ax.set_ylabel('Quadrillion Btu', fontsize = 15);
ax.set_xlim([1635,2017]);

In [ ]:
ax.savefig("output.png")